@using Chess.Application.DTOs
@*@model BoxDTO*@
@model MapDTO

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        @Model
        <span>@Model.Id</span>
        <span>@Model.Name</span>
        <span>@Model.Cols</span>
        <span>@Model.Rows</span>

</div>